{%extends "base.html"%}

{%block content%}
    <style>
        .img-container{
            text-align: center;
        }
    </style>
    <div class="col-6 mx-auto">
        <div class="img-container mt-5">
            <img src="{{image.img}}" class="img-fluid img-responsive" style="height: 200px" style="width: 200px">
        </div>
        <br>
        <br>
        <form class="m" method="post" >
            {% csrf_token %}
            <div class="form-group pt-4">
                <label for="exampleInputEmail1">Enter Your Name</label>
                <input  v-model="name" name="name" type="text" class="form-control"
                 id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="form-group pt-4">
                <label for="exampleInputEmail1">Enter Your Email</label>
                <input  v-model="email" name="email" type="email" class="form-control"
                 id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Enter Amount to Pay</label>
                <input v-model="amount" type="number"  class="form-control" name="amount"
                id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">
                    Thanks for the payment
                </small>
            </div>
            <button class="btn btn-success btn-block" type="submit">Submit</button>
        </form>
    </div>

{%if payment%}
<div class="container mx-auto text-center mt-4" v-if="name && amount">

    <form action="/success" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_FevfFiPQZ3dC0F"
            data-currency="INR"
            data-order_id="{{ payment.id }}"
            data-buttontext="Click to Pay"
            data-name="PayBaazi"
            data-description=""
            data-image="https://example.com/your_logo.jpg"
            data-prefill.name="Abhi"
           
            data-theme.color="#F37254"
        ></script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
</div>
{%endif%}

{%endblock%}
